
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style type="text/css">
    .grid {
        /* 水平居中 */
      margin: auto;
      width: 500px;
      text-align: center;
    }
    .grid .aboveTbody {
        width: 100%;
        height: 35px;
        line-height: 35px;
        text-align: center;
        background-color: orange;
        border-bottom: 1px solid greenyellow;
    }
    .grid table {
      width: 100%;
      /* 用于表格属性, 表示表格的两边框合并为一条 */
      border-collapse: collapse;
    }
    .grid th,td {
      padding: 10;
      border: 1px dashed orange;
      height: 35px;
      line-height: 35px;
    }
    .grid th {
      background-color: orange;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="grid">
      <h1>图书管理</h1>
      <div class="aboveTbody">
        <label for="id">编号 :</label>
        <input type="text" id="id" v-model='id' v-bind:disabled="flag">  
        <label for="name">名称 :</label>
        <input type="text" id="name" v-model='name'>  
        <button v-on:click='handle'>提交</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr :key='item.id' v-for='item in books'>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.date}}</td>
            <td>
                <!-- a标签默认有跳转行为，需要阻止 -->
              <a href="" @click.prevent='toEdit(item.id)'>修改</a>
              <span>|</span>
              <a href="" @click.prevent='deleteBook(item.id)'>删除</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <script type="text/javascript" src="js/vue.js"></script>
  <script type="text/javascript">
    /*
      图书管理-图书列表展示功能
      注意事项：<a href="" @click.prevent>修改</a>
      事件绑定时，可以只添加修饰符，而不绑定事件函数
    */
    var vm = new Vue({
      el: '#app',
      data: {
        id: '',
        name: '',
        flag: false,
        books: [{
          id: 1,
          name: '三国演义',
          date: ''
        },{
          id: 2,
          name: '水浒传',
          date: ''
        },{
          id: 3,
          name: '红楼梦',
          date: ''
        },{
          id: 4,
          name: '西游记',
          date: ''
        }]
      },
      methods: {
            handle: function () {
                if (this.flag) {
                    // 编辑操作
                    // 就是根据当前的id去更新数组中对应的数据
                    this.books.some((item) => {
                        // 箭头函数中的this指的是定义这个函数的父级作用域中的 this
                        // 父级作用域其实就是handle的作用域，handle中的this值得就是vue实例本身，所以我们通过vue实例就可以获取到当前的id（也就是表单中的id）
                        if (item.id == this.id) {
                            item.name = this.name;
                            // 完成更新操作之后需要终止循环
                            return true;
                        }
                    });
                    this.flag = false;
                    this.id = '';
                    this.name = '';
                } else {
                    // 添加图书
                    var addBookInfo = {};
                    addBookInfo.id = this.id;
                    addBookInfo.name = this.name;
                    addBookInfo.date = '';
                    this.books.push(addBookInfo);
                    // 提交成功后将input表单清空
                    this.id = '';
                    this.name = '';
                }        
            }, 
            toEdit: function (id) {
              // 禁止修改id
              this.flag = true;
            //   console.log(id);
              // 根据id查询出要编辑的数据
              var book = this.books.filter(function(item){
                  return item.id == id;
              });
              console.log(book);
              // 把获取到的信息填充到表单
              this.id = book[0].id;
              this.name = book[0].name;
            },
            deleteBook: function (id) {
                // 删除图书
                // 根据id从数组中查找元素的索引
                // var index = this.books.findIndex(function(item){
                //     return item.id == id;
                // })
                // 根据索引删除数组元素
                // this.books.splice(index,1);

                //-------------------------------------
                // 第二种方法：(filter属于替换数组)
                this.books = this.books.filter(function(item){
                    return item.id != id;
                });   
            }
          },
              
      });
  </script>
</body>
</html>
